/.history
/exercises/java/plaintext-base/build
/exercises/java/plaintext-base/.gradle
/exercises/java/plaintext-base/.idea/.name
/exercises/java/plaintext-base/.idea/compiler.xml
/exercises/java/plaintext-base/.idea/gradle.xml
/exercises/java/plaintext-base/.idea/jarRepositories.xml
/exercises/java/plaintext-base/.idea/misc.xml
/.DS_Store
